<!--<span *ngFor="#menuItem of menuItems">{{menuItem.Text_English}}</span>-->
<!--<header-image>loading...</header-image>-->
<!--<span *ngIf="!menuItems">loading...</span>-->
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-text h2 hidden-md hidden-lg hidden-sm menu-font">{{currentPathName}}</p>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div>
                <ul class="nav navbar-nav">
                    <li *ngFor="#menuItem of menuItems">
                        <a class="menu-font h3" [routerLink]="[menuItem.Text_English]">{{menuItem.Text_English}}</a>
                    </li>

                </ul>
            </div>

            <!--<div>next right to nav</div>-->
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>

