<div class="container">
    <header-image [pageName]="'contact'">loading...</header-image>
    <div dir="ltr" class="btn-group-sm">
        <a (click)="changeToEnglish()" class="langLinks">Eng</a>
        <a (click)="changeToHebrew()" class="langLinks">עבר</a>
    </div>
    <div class="navbar navbar-default my-navbar" style="">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span style="font-weight: 900; color: white">Menu</span>
            </button>
            <h4 class="navMenu hidden-lg hidden-md hidden-sm mobliePath">
                <span>{{'Noya Schleien'|translate}}</span>
                <span>|</span>
                <span>{{currentPathName|translate}}</span>

            </h4>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="menu-ul nav nav-pills nav-justified ">
                <li *ngFor="let menuItem of menuItems">
                    <a routerLinkActive="active-menu-item" class="menu-font  menu-anchor" [routerLink]="[menuItem.Name|lowercase]">{{menuItem.Text}}</a>
                </li>
            </ul>
        </div>

    </div>




</div>

<div class="container">
    <router-outlet></router-outlet>

</div>


<footer>
    <div class="container">
        <div class="row footer-row text-center">
            <div class="col-xs-12 col-md-3">
                <a class="h5" href="mailto:noyaschleien@gmail.com">noyaschleien@gmail.com</a>
            </div>
            <div class="col-md-7"></div>
            <div class="col-xs-12 col-md-2">
                <button (click)="goToContact()" class="btn btn-primary">Order Concert</button>
            </div>
            <hr class="dl-horizontal" />
            <div>
                <span>Noya Schleien@2013</span>
                <span>|</span>
                <span>Developed by</span>
                <a>Future WebSites</a>
            </div>
        </div>



    </div>
</footer>