<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="noyaDB" connectionString="Data Source=188.121.44.212;Initial Catalog=noyaDB;Integrated Security=False;User ID=liorgish;Password=KJHSD987fwer
;Connect Timeout=15;Encrypt=False;Packet Size=4096"/>
  </connectionStrings>
  <system.web>
    <trust level="Full" originUrl=""/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <!--<httpRuntime targetFramework="4.5.2" />-->
  </system.web>
  <system.codedom>
    
  </system.codedom>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".ts" />
      <mimeMap fileExtension=".ts" mimeType="application/x-typescript" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>